

.companylogo{
    font-size: 3rem;
    display: flex;
    width: 70rem;
    flex-direction: row;

    justify-content: space-evenly;
    background:linear-gradient(135 deg ,rgba(255,255,255,0.1),rgba(255,255,255,0));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border: 1px solid rgba(255,255,255,0.18);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(0,0,0,0.37);
    
}
.logomastercontainer{
    display: flex;
    flex-direction: row;
    justify-content: center;
align-content: center;
    align-items: center;
    margin-top: 4%;
}
.socialicons{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.logopic{
    background-color:#00DDEB;
    width: 400%;

}
.companyname{
    color: white;
    align-items: center;
    display:flex;
    justify-content: center;

}
.aboutpara1{
    font-size: 3rem;
    text-align: center;
   
    background: rgb(224,116,14);
    background: linear-gradient(90deg, rgba(224,116,14,1) 0%, rgba(186,11,194,1) 35%, rgba(255,0,0,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
      
}
.aboutpara2{
    font-size: 3rem;
    text-align: center;
   
    background: rgb(0,121,10);
    background: linear-gradient(90deg, rgba(0,121,10,1) 0%, rgba(194,177,11,1) 35%, rgba(14,255,0,1) 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}